.alert {
  display: flex;
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $border-color;
  border-left-width: 3px;
  border-radius: $border-radius;
  border-left-color: var(--color-600, $border-color);
  align-items: center;
  justify-content: flex-start;

  a {
    color: var(--color-700);

    &:hover {
      color: var(--color-800);
    }
  }
}

.alert-title {
  color: var(--color-800);
  margin-bottom: $spacer * .25;
  font-size: 1.1rem;
}

.alert-icon {
  margin-right: .75rem;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  line-height: 1.5;
  color: var(--color-800);
}

.alert-float {
  display: inline-flex;
  padding: .75rem 1rem;
  box-shadow: map-get($box-shadows, 1);
  background-color: var(--acrylic-fallback-background);
  border-top: none;
  border-right: none;
  border-bottom: none;

  @supports (backdrop-filter: blur(15px) saturate(350%)) {
    background-color: var(--acrylic-background);
    backdrop-filter: blur(10px) saturate(250%);
  }
}

.alert-stack {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 320px;
  gap: $spacer;
  width: 320px;

  .alert {
    margin: 0;
  }
}

.alert-stack-top-start {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem !important;
  margin-left: 1rem !important;
}

.alert-stack-top-end {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem !important;
  margin-right: 1rem !important;
}

.alert-stack-bottom-start {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1rem !important;
  margin-left: 1rem !important;
}

.alert-stack-bottom-end {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem !important;
  margin-right: 1rem !important;
}
