.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .15);
  transition: $base-transition;

  @supports (backdrop-filter: blur(10px) saturate(250%)) {
    backdrop-filter: blur(10px) saturate(250%);
  }

  // Fade for backdrop
  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}
