.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 2rem;
  align-content: center;
}

.breadcrumb-item {
  & > a {
    color: var(--color-600, var(--accent-600));
    text-decoration: none;
    padding: $spacer * .25 $spacer * .375;
    border-radius: $border-radius-sm;

    &:hover {
      background-color: var(--color-300a, var(--accent-300a));
    }
  }

  & > span {
    padding: $spacer * .25 $spacer * .375;
  }
}

.breadcrumb-divider {
  .breadcrumb-item {
    & + & {
      &::before {
        padding: 0 $spacer * .25;
        height: 16px;
        color: var(--grey-700);
        content: "/";
      }
    }
  }
}
