// Base button
.btn {
  display: inline-block;
  color: var(--body-text);
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  padding: $spacer * .375 $spacer * .75;
  font-size: 1rem;
  border-radius: $border-radius;
  box-shadow: $btn-box-shadow-inset;
  line-height: 1.5;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
  font-weight: 600;
  text-decoration: none;
  border: none;

  // Disabled
  &:disabled,
  &.disabled,
  &[aria-disabled="true"],
  fieldset:disabled &,
  fieldset[aria-disabled="true"] & {
    pointer-events: none;
    opacity: .6;
  }

  // Sizes
  &.btn-sm {
    padding: $spacer * .25 $spacer * .5;
    font-size: .875rem;
  }

  &.btn-lg {
    padding: $spacer * .375 $spacer;
    font-size: 1.25rem;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }
}

// Variants
.btn-default {
  background-color: var(--grey-100);
  color: var(--body-text);

  &:focus {
    box-shadow: 0 0 0 3px var(--grey-400a);
  }

  &:hover {
    color: var(--body-text);
    background-color: var(--grey-200);
  }

  &:active,
  &.active {
    color: var(--body-text);
    background-color: var(--grey-200);
  }
}

.btn-color {
  background-color: var(--color-600);
  color: var(--color-text);

  &:focus {
    box-shadow: 0 0 0 3px var(--color-400a);
  }

  &:hover {
    color: var(--color-text);
    background-color: #{ light-dark(var(--color-700), var(--color-500)) };
  }

  &:active,
  &.active {
    color: var(--color-text);
    background-color: #{ light-dark(var(--color-700), var(--color-400)) };
  }
}

.btn-hover {
  background-color: var(--grey-100);
  color: var(--color-600);

  &:focus {
    box-shadow: 0 0 0 3px var(--color-400a);
  }

  &:hover {
    color: var(--color-text);
    background-color: #{ light-dark(var(--color-700), var(--color-500)) };
  }

  &:active,
  &.active {
    color: var(--color-text);
    background-color: #{ light-dark(var(--color-700), var(--color-400)) };
  }
}

// Generate contextual classes like .btn-primary and .btn-success
@each $btn-name, $color in $btn-semantic-color {
  .btn-#{$btn-name} {
    @extend .#{$color};
    @extend .btn-color;
  }
}

@each $btn-name, $color in $btn-semantic-color-hover {
  .btn-#{$btn-name} {
    @extend .#{$color};
    @extend .btn-hover;
  }
}
