/* stylelint-disable no-descending-specificity */
.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;

  > .btn,
  > .dropdown > .btn {
    position: relative;
    flex: 1 1 auto;
  }

  > .btn:not(:last-child),
  > .dropdown:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  > .btn:not(:first-child),
  > .dropdown:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.btn-group-sm > .btn,
  &.btn-group-sm > .dropdown > .btn {
    @extend .btn-sm;
  }

  &.btn-group-lg > .btn,
  &.btn-group-lg > .dropdown > .btn {
    @extend .btn-lg;
  }
}
