.dialog {
  position: fixed;
  z-index: 1060;
  color: inherit;
  padding: 0;
  border: none;
  border-radius: $border-radius;
  background-color: var(--dialog-background);
  box-shadow: var(--shadow-1), var(--shadow-3);
  width: 100%;
  max-width: var(--dialog-max-width, $dialog-md);

  &::backdrop {
    background-color: var(--backdrop-background);

    @supports (backdrop-filter: blur(5px) saturate(150%)) {
      backdrop-filter: blur(5px) saturate(150%);
    }
  }

  &.dialog-sm {
    --dialog-max-width: #{ $dialog-sm };
  }

  &.dialog-lg {
    --dialog-max-width: #{ $dialog-lg };
  }

  &.dialog-xl {
    --dialog-max-width: #{ $dialog-xl };
  }
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacer * .75 $spacer * 1 0;

  .dialog-title {
    margin: 0;
  }
}

.dialog-body {
  padding: $spacer * 1;

  :last-child {
    margin-bottom: 0;
  }
}

.dialog-footer {
  padding: $spacer * 1;
  border-top: $border-width solid $border-color;
}
