.dropdown {
  display: inline-block;
  position: relative;

  summary {
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] > summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    cursor: default;
    z-index: 20;
  }
}

.dropdown-menu {
  position: absolute;
  display: block;
  inset: var(--dropdown-menu-position, 100% auto auto 0);
  margin: var(--dropdown-menu-margin, .375rem 0 0 0);
  z-index: 1040;
  min-width: 240px;
  padding: .25rem;
  border-radius: $border-radius;
  font-weight: initial;
  list-style: none;
  background-color: var(--acrylic-fallback-background);
  box-shadow: var(--shadow-1), var(--shadow-3);

  @supports (backdrop-filter: blur(15px) saturate(350%)) {
    background-color: var(--acrylic-background);
    backdrop-filter: blur(15px) saturate(250%);
  }
}

.dropdown-menu-align-e {
  --dropdown-menu-position: 100% 0 auto auto;
}

.dropdown-menu-t {
  --dropdown-menu-position: auto auto 100% 0;
  --dropdown-menu-margin: 0 0 .375rem 0;

  &.dropdown-menu-align-e {
    --dropdown-menu-position: auto 0 100% auto;
  }
}

.dropdown-menu-e {
  --dropdown-menu-position: 0 auto auto 100%;
  --dropdown-menu-margin: 0 0 0 .375rem;
}

.dropdown-menu-s {
  --dropdown-menu-position: 0 100% auto auto;
  --dropdown-menu-margin: 0 .375rem 0 0;
}

.dropdown-item {
  text-decoration: none;
  padding: .25rem .5rem;
  transition: $fast-transition;
  display: block;
  border-radius: $border-radius-sm;
  outline: none;
  color: $body-text;

  &:not(:first-child) {
    margin-top: .125rem;
  }

  &[open],
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: var(--color-600, var(--accent-600));
    color: var(--color-text, var(--accent-text));
  }

  &:focus {
    box-shadow: $btn-box-shadow-inset, 0 0 0 3px var(--color-400a, var(--accent-400a));
  }
}

.dropdown-header {
  padding: .25rem .5rem;
  font-size: .875em;
  font-weight: 600;
  color: $muted;
}

.dropdown-divider {
  border-top: $border-width solid $border-color;

  &:not(:first-child) {
    margin-top: .25rem;
  }

  &:not(:last-child) {
    margin-bottom: .25rem;
  }
}
