.input-group {
  background-color: var(--form-background);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  border: $border-color 1px solid;
  border-radius: $border-radius;
  transition: $base-transition;

  > .input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    box-shadow: none;
    border: none;

    &:focus {
      z-index: 3;
      border: none;
      box-shadow: none;
    }
  }

  > .form-floating {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;

    > .input {
      box-shadow: none;
      border: none;

      &:focus {
        z-index: 3;
        border: none;
        box-shadow: none;
      }
    }
  }

  .btn {
    position: relative;
    z-index: 2;
    border-top: none;
    border-bottom: none;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    & + .btn {
      border-left: none;
    }

    &:focus {
      z-index: 3;
    }
  }

  .input-text {
    margin: $spacer * .125;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: $spacer * .125 $spacer * .5;
    line-height: 1.5;
    color: var(--grey-900);
    text-align: center;
    white-space: nowrap;
    background-color: var(--grey-100);
    border-radius: $border-radius - .125rem;
    border: 1px solid var(--grey-200a);
  }

  &:focus-within {
    outline: 0;
    border-color: var(--color-600, var(--accent-600));
    box-shadow: 0 0 0 3px var(--color-400a, var(--accent-400a));

    .input-text {
      background-color: var(--color-100, var(--accent-100));
      border-color: var(--color-200a, var(--accent-200a));
    }
  }

  & > :not(:first-child):not(.btn):not(.input-text) {
    border-left: none;

    &.input {
      padding-left: $spacer * .5;
    }
  }

  & > :not(:last-child):not(.btn):not(.input-text) {
    border-right: none;

    &.input {
      padding-right: $spacer * .5;
    }
  }

  &.input-group-floating {
    .btn {
      padding-top: $spacer * .75;
      padding-bottom: $spacer * .75;
    }

    .btn-sm {
      padding-top: $spacer * .8125;
      padding-bottom: $spacer * .8125;
    }

    .btn-lg {
      padding-top: $spacer * .6875;
      padding-bottom: $spacer * .6875;
    }
  }
}
