.input {
  display: block;
  width: 100%;
  border: $border-color 1px solid;
  border-radius: $border-radius;
  font-size: $font-size-base;
  padding: $spacer * .3125 $spacer * .75;
  line-height: 1.5;
  background-color: var(--form-background);
  color: var(--form-text);

  &:focus {
    outline: 0;
    border-color: var(--color-600, var(--accent-600));
    box-shadow: 0 0 0 3px var(--color-400a, var(--accent-400a));
  }

  &:disabled,
  &[readonly] {
    box-shadow: none;
    background-color: var(--grey-50);
  }

  &[type="file"] {
    overflow: hidden;

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // File input buttons theming
  &::file-selector-button {
    font-family: var(--font-family-sans);
    height: 34px;
    padding: .25rem .75rem;
    background-color: var(--grey-50);
    border: 0;
    border-right: 1px solid var(--grey-400);
    color: var(--grey-600);
    border-radius: $border-radius 0 0 $border-radius;
    box-shadow: $btn-box-shadow-inset;
    line-height: 1.5;
    margin: (-$spacer * .5) ($spacer * .75) (-$spacer * .5) (-$spacer * .875);
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: var(--grey-200);
  }
}

.input-check {
  all: unset;
  width: .875rem;
  height: .875rem;
  margin-top: .125em;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid var(--grey-600);
  appearance: none;
  color: var(--color-text, var(--accent-text));

  &[role="switch"],
  &[type="checkbox"] {
    border-radius: .25em;
  }

  &[type="radio"] {
    border-radius: 50%;
  }

  &:focus {
    outline: 0;
    border-color: var(--color-600, var(--accent-600));
    box-shadow: $btn-box-shadow-inset, 0 0 0 3px var(--color-400a, var(--accent-400a));
  }

  &:checked,
  &[aria-checked="true"] {
    border-color: var(--color-600, var(--accent-600));

    &[role="switch"],
    &[type="checkbox"] {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m4 7.75 2.75 2.75 4.5-4.5'/%3E%3C/svg%3E"), var(--color-600, var(--accent-600));
    }

    &[type="radio"] {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z'/%3E%3C/svg%3E"), var(--color-600, var(--accent-600));
    }
  }

  &[type="checkbox"]:indeterminate {
    border-color: var(--color-600, var(--accent-600));
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E"), var(--color-600, var(--accent-600));
  }

  &[disabled],
  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5;

    ~ .form-check-label {
      opacity: .5;
    }
  }
}

.input-range {
  width: 100%;
  padding: 0;
  appearance: none;
  background: transparent;

  &::-moz-focus-outer {
    border: 0;
  }

  &::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: (.5rem - 1rem) * .5;
    background-color: var(--color-600, var(--accent-600));
    border: 0;
    border-radius: 1rem;
    appearance: none;
  }

  &::-webkit-slider-runnable-track {
    width: 1rem;
    height: .5rem;
    background-color: var(--grey-400);
    border-radius: 1rem;
  }

  &::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: var(--color-600, var(--accent-600));
    border: 0;
    border-radius: 1rem;
    appearance: none;
  }

  &::-moz-range-track {
    width: 100%;
    height: .5rem;
    background-color: var(--grey-400);
    border-radius: 1rem;
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px var(--color-400a, var(--accent-400a));
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 3px var(--color-400a, var(--accent-400a));
    }
  }

  &:disabled {
    pointer-events: none;

    &::-webkit-slider-thumb {
      background-color: var(--grey-500);
    }

    &::-moz-range-thumb {
      background-color: var(--grey-500);
    }
  }
}

select.input {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232b2d31' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m4 6 4 4 4-4'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right $spacer * .75 center;
  background-size: 16px;
}

.input-label {
  margin-bottom: $spacer * .5;
}

.input-text {
  color: $muted;
  margin-top: $spacer * .25;
  font-size: $font-size-small;
}

.input-form {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: min-content minmax(0, auto);
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas: "input label" "input helper";
  margin-bottom: .5rem;

  .input-check {
    grid-area: input;
    margin-right: $spacer * .5;
  }

  .input-label {
    grid-area: label;
    margin-bottom: 0;
  }

  .input-text {
    grid-area: helper;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.input-group {
  background-color: var(--form-background);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  border: $border-color 1px solid;
  border-radius: $border-radius;

  > .input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    box-shadow: none;
    border: none;

    &:focus {
      z-index: 3;
      border: none;
      box-shadow: none;
    }
  }

  .btn {
    position: relative;
    z-index: 2;
    border-top: none;
    border-bottom: none;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    & + .btn {
      border-left: none;
    }

    &:focus {
      z-index: 3;
    }
  }

  .input-text {
    margin: $spacer * .125;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: $spacer * .125 $spacer * .5;
    line-height: 1.5;
    color: var(--grey-900);
    text-align: center;
    white-space: nowrap;
    background-color: var(--grey-100);
    border-radius: $border-radius - .125rem;
    border: 1px solid var(--grey-200a);
  }

  &:focus-within {
    outline: 0;
    border-color: var(--color-600, var(--accent-600));
    box-shadow: 0 0 0 3px var(--color-400a, var(--accent-400a));

    .input-text {
      background-color: var(--color-100, var(--accent-100));
      border-color: var(--color-200a, var(--accent-200a));
    }
  }

  & > :not(:first-child):not(.btn):not(.input-text) {
    border-left: none;

    &.input {
      padding-left: $spacer * .5;
    }
  }

  & > :not(:last-child):not(.btn):not(.input-text) {
    border-right: none;

    &.input {
      padding-right: $spacer * .5;
    }
  }
}

.input-select {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: $border-radius;
  padding: 0 15px;
  font-size: 1rem;
  line-height: 1;
  height: 36px;
  background-color: #fff;
  color: var(--form-text);
  border: $border-color 1px solid;
  width: 100%;

  &:focus {
    outline: 0;
    border-color: var(--color-600, var(--accent-600));
    box-shadow: 0 0 0 3px var(--color-400a, var(--accent-400a));
  }

  > span:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  .icon {
    margin-left: 4px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
