.input-label {
  margin-bottom: $spacer * .5;
  transition: color .1s ease-in-out, transform .1s ease-in-out;

  &.input-label-shrink {
    color: $muted;
    transform: scale(.85) translateX(.15rem) translateY(-.5rem);
  }
}

.input-text {
  color: $muted;
  margin-top: $spacer * .25;
  font-size: $font-size-small;
}

.input-form {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: min-content minmax(0, auto);
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas: "input label" "input helper";
  margin-bottom: .5rem;

  .input-check {
    grid-area: input;
    margin-right: $spacer * .5;
  }

  .input-label {
    grid-area: label;
    margin-bottom: 0;
  }

  .input-text {
    grid-area: helper;
    margin-top: 0;
    margin-bottom: 0;
  }
}
