.grid {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  gap: $spacer;
  width: 100%;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $breakpoint-suffix: breakpoint-suffix($breakpoint, $grid-breakpoints);

  @include breakpoint-min-width($breakpoint, $grid-breakpoints) {
    @for $i from 2 through $grid-columns {
      .grid#{$breakpoint-suffix}-#{$i} {
        --columns: #{ $i };
      }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $breakpoint-suffix: breakpoint-suffix($breakpoint, $grid-breakpoints);

  @include breakpoint-min-width($breakpoint, $grid-breakpoints) {
    @for $i from 1 through $grid-utility-columns {
      .col#{$breakpoint-suffix}-#{$i} {
        grid-column: auto/ span $i;
      }
    }

    .col#{$breakpoint-suffix}-full {
      grid-column: 1 / -1;
    }

    @for $i from 1 through $grid-utility-columns {
      .col-start#{$breakpoint-suffix}-#{$i} {
        grid-column-start: $i;
      }
    }

    @each $key, $value in $gaps {
      .gap#{$breakpoint-suffix}-#{$key} {
        gap: #{$value};
      }
    }

    @each $key, $value in $orders {
      .order#{$breakpoint-suffix}-#{$key} {
        order: #{$value};
      }
    }
  }
}
