/* stylelint-disable no-descending-specificity */
.pivot {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.pivot-link {
  display: block;
  padding: $spacer * .3125 $spacer * .75;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.5;
  border-radius: $border-radius;
  background: none;
  color: $body-text;
  border: none;
  transition: background-color .2s ease-in-out;

  &:hover,
  &:focus {
    color: $body-text;
    text-decoration: none;
  }

  &:hover {
    background-color: var(--color-50a, var(--accent-50a));
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--color-400a, var(--accent-400a));
    outline: none;
  }

  &.disabled {
    color: $muted;
    pointer-events: none;
    cursor: default;
  }

  &.active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: calc(50% - .75rem);
      width: 1.5rem;
      height: 3px;
      background-color: var(--color-600, var(--accent-600));
      border-radius: 4px;
    }
  }
}

.tab-box {
  > .tab-content {
    display: none;
  }

  > .active {
    display: block;
  }
}
