:not(progress).progress {
  display: flex;
  background-color: var(--grey-300);
  height: var(--progress-height, .5rem);
  border-radius: $border-radius;
  overflow: hidden;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--color-text, var(--accent-text));
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-600, var(--accent-600));
  line-height: 1;
  transition: $base-transition;

  & + & {
    margin-left: 2px;
  }
}

progress.progress {
  appearance: none;
  display: block;
  width: 100%;
  height: var(--progress-height, .5rem);
  background-color: var(--grey-300);
  border-radius: $border-radius;
  border: none;
  overflow: hidden;

  &::-webkit-progress-bar {
    background-color: var(--grey-300);
  }

  &::-webkit-progress-value {
    background-color: var(--color-600, var(--accent-600));
  }

  &::-moz-progress-bar {
    background-color: var(--color-600, var(--accent-600));
  }
}

@each $progress-name, $progress-value in $progress-heights {
  .progress-#{$progress-name} {
    --progress-height: #{ $progress-value };
  }
}
