.toolbar {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  > :not(:last-child) {
    margin-right: .5rem;
  }

  > .input,
  > .input-group > .input {
    display: inline-block;
    width: initial;
  }

  > .input-group {
    width: initial;
  }
}
