// Fonts
// stylelint-disable value-keyword-case
$font-family-sans: "Segoe UI Variable Text", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-heading: "Segoe UI Variable Display", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: charter, Georgia, Cambria, "Times New Roman", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

// Colors
$red:                 #eb0000 !default;
$orange:              #f57600 !default;
$amber:               #f5b400 !default;
$yellow:              #f5d000 !default;
$lime:                #7acc00 !default;
$green:               #1ea835 !default;
$teal:                #00d3b0 !default;
$cyan:                #00b3d3 !default;
$blue:                #0068d8 !default;
$indigo:              #5560f7 !default;
$violet:              #8055f7 !default;
$purple:              #c455f7 !default;
$pink:                #ec4899 !default;
$rose:                #fd194b !default;
$brown:               #a57041 !default;
$grey:                #6b707a !default;

$accent:              $blue;

$light:               tint($grey, 92%);
$muted:               $grey;
$dark:                shade($grey, 70%);

$body-text:           var(--body-text);
$body-bg:             var(--body-background);

$colors: (
  "red": $red,
  "orange": $orange,
  "amber": $amber,
  "yellow": $yellow,
  "lime": $lime,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "blue": $blue,
  "indigo": $indigo,
  "violet": $violet,
  "purple": $purple,
  "pink": $pink,
  "rose": $rose,
  "brown": $brown,
  "grey": $grey
) !default;

// Anchors
$anchor-color:          shade($accent, 7%) !default;
$anchor-hover-color:    shade($accent, 22%) !default;

// Grid breakpoints
$grid-columns: 12 !default;
$grid-utility-columns: $grid-columns !default;
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1200px,
  ul: 1400px
) !default;

$orders: (
  first: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  last: 6
) !default;

// Container width
$container-max-widths: (
  sm: 560px,
  md: 750px,
  lg: 970px,
  xl: 1140px,
  ul: 1320px
) !default;

// Gap
$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3
) !default;

$margins: (
  n5: (-(map-get($spacers, 5))),
  n4: (-(map-get($spacers, 4))),
  n3: (-(map-get($spacers, 3))),
  n2: (-(map-get($spacers, 2))),
  n1: (-(map-get($spacers, 1))),
  0: map-get($spacers, 0),
  1: map-get($spacers, 1),
  2: map-get($spacers, 2),
  3: map-get($spacers, 3),
  4: map-get($spacers, 4),
  5: map-get($spacers, 5),
  auto: auto
) !default;

$paddings: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  auto: auto
) !default;

$gaps: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3
) !default;

// Fonts and typogrpahy
$font-size-base: 1rem !default;
$font-size-small: .875em !default; // Relative to its parent

$font-size-lead: (min: 1.25, max: 1.5);

$font-sizes-heading: (
  h1: (min: 1.75, max: 2.5),
  h2: (min: 1.5, max: 2),
  h3: (min: 1.375, max: 1.75),
  h4: (min: 1.25, max: 1.5),
  h5: (min: 1.125, max: 1.25),
  h6: (min: 1, max: 1)
) !default;

$font-sizes-marketing: (
  1: (min: 3, max: 5),
  2: (min: 2.75, max: 4.5),
  3: (min: 2.5, max: 4),
  4: (min: 2.25, max: 3.5),
  5: (min: 2, max: 3),
  6: (min: 1.75, max: 2.5)
) !default;

$rfs-min-vw:      576 !default;
$rfs-max-vw:      1100 !default;

// Shadows
$box-shadows: (
  1: var(--shadow-1),
  2: var(--shadow-2),
  3: var(--shadow-3),
  4: var(--shadow-4),
  5: var(--shadow-5)
) !default;

// Borders
$border-color:        var(--grey-400) !default;
$border-width:        1px !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;
$border: $border-width solid $border-color !default;
$borders: (
  null: $border,
  0: 0
) !default;

$border-radius-sm:    .25rem !default;
$border-radius:       .5rem !default;
$border-radius-lg:    1rem !default;
$border-radius-pill:  50rem !default;
$border-radia: (
  0: 0,
  sm: $border-radius-sm,
  null: $border-radius,
  lg: $border-radius-lg,
  pill: $border-radius-pill
) !default;

// Opacity
$opacities: (
  0: 0,
  25: .25,
  50: .5,
  75: .75,
  100: 1
) !default;

// Display
$display-types: (
  block,
  flex,
  grid,
  inline-block,
  inline-grid,
  inline-flex,
  inline,
  none
) !default;

// Position
$positions: (
  static,
  relative,
  absolute,
  fixed,
  sticky
) !default;

$direction-values: (
  0: 0%,
  50: 50%,
  100: 100%,
  auto: auto
) !default;

// Float
$floats: (
  start: left,
  end: right,
  none: none
) !default;

// Flex
$flex-directions: (
  row,
  row-reverse,
  column,
  column-reverse
) !default;

$flex-wraps: (
  wrap,
  nowrap,
  wrap-reverse
) !default;

$flex-justifies-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly
) !default;

$flex-aligns-items: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
) !default;

$flex-aligns-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  stretch: stretch
) !default;

$flex-aligns-self: (
  auto: auto,
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
) !default;

$flex-orders: (
  first: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  last: 6,
) !default;

// Sizing
$sizes: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 4,
  4: $spacer * 6,
  5: $spacer * 8,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
) !default;

$limit-sizes: (
  0: 0,
  100: 100%
) !default;

// Text
$text-directions: (
  start: left,
  end: right,
  center: center
) !default;

$text-wraps: (
  wrap: normal,
  nowrap: nowrap
) !default;

$text-transforms: (
  uppercase,
  lowercase,
  capitalize
) !default;

$text-decorations: (
  none,
  underline,
  line-through
) !default;

$line-heights: (
  1: 1,
  sm: 1.25,
  md: 1.5,
  lg: 2,
) !default;

$font-weights: (
  light: 300,
  lighter: lighter,
  normal: 400,
  bold: 700,
  bolder: bolder
) !default;

// Overflow
$overflows: (
  auto,
  hidden,
  visible,
  scroll
) !default;

// Buttons
$btn-box-shadow-inset: var(--shadow-inset-btn) !default;

$btn-semantic-color-hover: (
  secondary: "accent",
  danger: "red"
) !default;

$btn-semantic-color: (
  primary: "accent",
  success: "green"
) !default;

// Forms
$form-box-shadow-inset: var(--shadow-inset-input) !default;

// Transitions
$fast-transition: all .1s ease-in-out;
$base-transition: all .2s ease-in-out;

// Navigation
$nav-sizes: (
  sm: 40px,
  md: 56px,
  lg: 72px
) !default;

// Progress
$progress-heights: (
  1: 1px,
  sm: .25rem,
  md: .5rem,
  lg: 1rem,
) !default;

// Dialogs
$dialog-sm:        400px !default;
$dialog-md:        600px !default;
$dialog-lg:        800px !default;
$dialog-xl:        1200px !default;
