/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable declaration-block-semicolon-space-before */

// Root
:root {
  --shadow-1: #{ map-get($box-shadows, 1) };
  --shadow-2: #{ map-get($box-shadows, 2) };
  --shadow-3: #{ map-get($box-shadows, 3) };
  --shadow-4: #{ map-get($box-shadows, 4) };
  --shadow-5: #{ map-get($box-shadows, 5) };
  --shadow-inset-btn: #{ light-dark(inset 0 1px 0 rgba(255, 255, 255, .15), initial) };
  --font-family-sans: #{ $font-family-sans };
  --font-family-sans-heading: #{ $font-family-sans-heading };
  --font-family-serif: #{ $font-family-serif };
  --font-family-mono: #{ $font-family-mono };

  // Progressive Web Apps
  --titlebar-left-safe-space: env(titlebar-area-x, 0);
  --titlebar-top-safe-space: env(titlebar-area-y, 0);
  --titlebar-height: env(titlebar-area-height, 33px);
  --titlebar-width: env(titlebar-area-width, 100%);
}

// Dark mode
.system,
.light {
  --light: initial;
  --dark: ;
}

.dark {
  --light: ;
  --dark: initial;
}

@media (prefers-color-scheme: dark) {
  .system {
    --light: ;
    --dark: initial;
  }
}

// Palette
body {
  // Themes
  --light: initial;
  --dark: ;

  // Colors
  @each $name, $color in $colors {
    --#{$name}-50: #{ light-dark(tint($color, 96%), shade($color, 80%)) };
    --#{$name}-100: #{ light-dark(tint($color, 92%), shade($color, 74%)) };
    --#{$name}-200: #{ light-dark(tint($color, 87%), shade($color, 67%)) };
    --#{$name}-300: #{ light-dark(tint($color, 80%), shade($color, 63%)) };
    --#{$name}-400: #{ light-dark(tint($color, 70%), shade($color, 52%)) };
    --#{$name}-500: #{ light-dark(tint($color, 28%), shade($color, 26%)) };
    --#{$name}-600: #{ $color };
    --#{$name}-700: #{ light-dark(shade($color, 7%), tint($color, 7%)) };
    --#{$name}-800: #{ light-dark(shade($color, 22%), tint($color, 20%)) };
    --#{$name}-900: #{ light-dark(shade($color, 70%), tint($color, 87%)) };
    --#{$name}-50a: #{ rgba($color, .05) };
    --#{$name}-200a: #{ rgba($color, .15) };
    --#{$name}-400a: #{ rgba($color, .3) };
    --#{$name}-text: #{ color-contrast($color) };
  }

  --accent-50: #{ light-dark(tint($accent, 96%), shade($accent, 80%)) };
  --accent-100: #{ light-dark(tint($accent, 92%), shade($accent, 74%)) };
  --accent-200: #{ light-dark(tint($accent, 87%), shade($accent, 67%)) };
  --accent-300: #{ light-dark(tint($accent, 80%), shade($accent, 63%)) };
  --accent-400: #{ light-dark(tint($accent, 70%), shade($accent, 52%)) };
  --accent-500: #{ light-dark(tint($accent, 28%), shade($accent, 26%)) };
  --accent-600: #{ $accent };
  --accent-700: #{ light-dark(shade($accent, 7%), tint($accent, 7%)) };
  --accent-800: #{ light-dark(shade($accent, 22%), tint($accent, 20%)) };
  --accent-900: #{ light-dark(shade($accent, 70%), tint($accent, 87%)) };
  --accent-50a: #{ rgba($accent, .05) };
  --accent-200a: #{ rgba($accent, .15) };
  --accent-400a: #{ rgba($accent, .3) };
  --accent-text: #{ color-contrast($accent) };

  // Components
  --body-background: #{ light-dark(#fff, #000) };
  --body-text: #{ light-dark(#000, #fff) };
  --acrylic-background: #{ light-dark(rgba(#fff, .9), rgba($dark, .8)) };
  --acrylic-fallback-background: #{ light-dark(rgba(#fff, .95), rgba($dark, .85)) };
  --acrylic-solid-background: #{ light-dark(#fff, $dark) };
  --form-background: #{ light-dark(#fff, #000) };
  --form-text: #{ light-dark(#000, #fff) };
  --backdrop-background: #{ light-dark(rgba(#000, .2), rgba(#fff, .5)) };
}

@each $name, $color in $colors {
  .#{$name} {
    --color-50: #{ light-dark(tint($color, 96%), shade($color, 80%)) };
    --color-100: #{ light-dark(tint($color, 92%), shade($color, 74%)) };
    --color-200: #{ light-dark(tint($color, 87%), shade($color, 67%)) };
    --color-300: #{ light-dark(tint($color, 80%), shade($color, 63%)) };
    --color-400: #{ light-dark(tint($color, 70%), shade($color, 52%)) };
    --color-500: #{ light-dark(tint($color, 28%), shade($color, 26%)) };
    --color-600: #{ $color };
    --color-700: #{ light-dark(shade($color, 7%), tint($color, 7%)) };
    --color-800: #{ light-dark(shade($color, 22%), tint($color, 20%)) };
    --color-900: #{ light-dark(shade($color, 70%), tint($color, 87%)) };
    --color-50a: #{ rgba($color, .05) };
    --color-200a: #{ rgba($color, .15) };
    --color-400a: #{ rgba($color, .3) };
    --color-text: #{ color-contrast($color) };
  }
}

.accent {
  --color-50: #{ light-dark(tint($accent, 96%), shade($accent, 80%)) };
  --color-100: #{ light-dark(tint($accent, 92%), shade($accent, 74%)) };
  --color-200: #{ light-dark(tint($accent, 87%), shade($accent, 67%)) };
  --color-300: #{ light-dark(tint($accent, 80%), shade($accent, 63%)) };
  --color-400: #{ light-dark(tint($accent, 70%), shade($accent, 52%)) };
  --color-500: #{ light-dark(tint($accent, 28%), shade($accent, 26%)) };
  --color-600: #{ $accent };
  --color-700: #{ light-dark(shade($accent, 7%), tint($accent, 7%)) };
  --color-800: #{ light-dark(shade($accent, 22%), tint($accent, 20%)) };
  --color-900: #{ light-dark(shade($accent, 70%), tint($accent, 87%)) };
  --color-200a: #{ rgba($accent, .15) };
  --color-400a: #{ rgba($accent, .3) };
  --color-text: #{ color-contrast($accent) };
}
