/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable declaration-block-semicolon-space-before */

// Root
:root {
  --shadow-1: #{ map-get($box-shadows, 1) };
  --shadow-2: #{ map-get($box-shadows, 2) };
  --shadow-3: #{ map-get($box-shadows, 3) };
  --shadow-4: #{ map-get($box-shadows, 4) };
  --shadow-5: #{ map-get($box-shadows, 5) };
  --shadow-inset-btn: #{ light-dark(inset 0 1px 0 rgba(255, 255, 255, .15), initial) };
  --font-family-sans: #{ $font-family-sans };
  --font-family-sans-heading: #{ $font-family-sans-heading };
  --font-family-serif: #{ $font-family-serif };
  --font-family-mono: #{ $font-family-mono };

  // Progressive Web Apps
  --titlebar-left-safe-space: env(titlebar-area-x, 0);
  --titlebar-top-safe-space: env(titlebar-area-y, 0);
  --titlebar-height: env(titlebar-area-height, 33px);
  --titlebar-width: env(titlebar-area-width, 100%);

  @each $heading, $font-size in $font-sizes-heading {
    @include rfs(map-get($font-size, "min"), map-get($font-size, "max"), $heading);
  }

  @each $marketing, $font-size in $font-sizes-marketing {
    @include rfs(map-get($font-size, "min"), map-get($font-size, "max"), "m#{$marketing}");
  }

  @include rfs(map-get($font-size-lead, "min"), map-get($font-size-lead, "max"), "lead");
}

// Dark mode
.system,
.light {
  --light: initial;
  --dark: ;
}

.dark {
  --light: ;
  --dark: initial;
}

@media (prefers-color-scheme: dark) {
  .system {
    --light: ;
    --dark: initial;
  }
}

// Palette
body {
  // Themes
  --light: initial;
  --dark: ;

  // System colors
  --system-10: #{ light-dark(rgba($dark, .1), rgba($light, .1)) };

  // Colors
  @each $name, $color in $colors {
    --#{$name}-50: #{ light-dark(tint($color, 96%), shade($color, 74%)) };
    --#{$name}-100: #{ light-dark(tint($color, 92%), shade($color, 67%)) };
    --#{$name}-200: #{ light-dark(tint($color, 87%), shade($color, 63%)) };
    --#{$name}-300: #{ light-dark(tint($color, 80%), shade($color, 52%)) };
    --#{$name}-400: #{ light-dark(tint($color, 70%), shade($color, 26%)) };
    --#{$name}-500: #{ light-dark(tint($color, 28%), $color) };
    --#{$name}-600: #{ light-dark($color, tint($color, 20%)) };
    --#{$name}-700: #{ light-dark(shade($color, 7%), tint($color, 41%)) };
    --#{$name}-800: #{ light-dark(shade($color, 22%), tint($color, 62%)) };
    --#{$name}-900: #{ light-dark(shade($color, 70%), tint($color, 83%)) };
    --#{$name}-50a: #{ rgba($color, .05) };
    --#{$name}-200a: #{ rgba($color, .15) };
    --#{$name}-400a: #{ rgba($color, .3) };
    --#{$name}-text: #{ light-dark(color-contrast($color), color-contrast(tint($color, 26%))) };
  }

  // Components
  --body-background: #{ light-dark(#fff, #000) };
  --body-text: #{ light-dark(#000, #fff) };
  --acrylic-background: #{ light-dark(rgba(#fff, .9), rgba($dark, .8)) };
  --acrylic-fallback-background: #{ light-dark(rgba(#fff, .95), rgba($dark, .85)) };
  --acrylic-solid-background: #{ light-dark(#fff, $dark) };
  --form-background: #{ light-dark(#fff, #000) };
  --form-text: #{ light-dark(#000, #fff) };
  --dialog-background: #{ light-dark(#fff, $dark) };
  --backdrop-background: #{ light-dark(rgba(#000, .1), rgba(#fff, .2)) };
}

@each $name, $color in $colors {
  .#{$name} {
    --color-50: #{ light-dark(tint($color, 96%), shade($color, 74%)) };
    --color-100: #{ light-dark(tint($color, 92%), shade($color, 67%)) };
    --color-200: #{ light-dark(tint($color, 87%), shade($color, 63%)) };
    --color-300: #{ light-dark(tint($color, 80%), shade($color, 52%)) };
    --color-400: #{ light-dark(tint($color, 70%), shade($color, 26%)) };
    --color-500: #{ light-dark(tint($color, 28%), $color) };
    --color-600: #{ light-dark($color, tint($color, 20%)) };
    --color-700: #{ light-dark(shade($color, 7%), tint($color, 41%)) };
    --color-800: #{ light-dark(shade($color, 22%), tint($color, 62%)) };
    --color-900: #{ light-dark(shade($color, 70%), tint($color, 83%)) };
    --color-50a: #{ rgba($color, .05) };
    --color-200a: #{ rgba($color, .15) };
    --color-400a: #{ rgba($color, .3) };
    --color-text: #{ light-dark(color-contrast($color), color-contrast(tint($color, 26%))) };
  }
}
