// stylelint-disable no-descending-specificity

@import "../../../scss/mellow";

// Docs grid
.docs-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 56px auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}

.docs-navbar {
  grid-area: navbar;
  position: sticky;
  top: 0;
  z-index: 1030;
}

.docs-footer {
  grid-area: footer;
}

.docs-main {
  display: grid;
  max-width: calc(100vw - 240px);
  gap: 2rem;
  grid-area: main;
  margin: 0 auto;
  padding: 36px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "meta"
    "toc"
    "article";

  @media (min-width: 1000px) {
    grid-template-columns: 440px 200px;
    grid-template-rows: auto auto;
    grid-template-areas:
      "meta toc"
      "article toc";
  }

  @media (min-width: 1200px) {
    grid-template-columns: 640px 200px;
  }

  @media (min-width: 1400px) {
    grid-template-columns: 840px 200px;
  }

  .docs-main-meta {
    grid-area: meta;
  }

  .docs-main-toc {
    grid-area: toc;

    .docs-toc {
      position: sticky;
      top: 56px;
    }
  }

  .docs-main-content {
    grid-area: article;
  }
}

.docs-sidebar {
  grid-area: sidebar;
}

.docs-navigation {
  position: sticky;
  top: 56px;
  height: calc(100vh - 56px);
  overflow: auto;
  overflow-y: auto;

  ul {
    margin-bottom: 0;
  }

  a {
    display: inline-flex;
    text-decoration: none;
    padding: .365rem .5rem;
    width: 100%;
    margin-bottom: .125rem;
    border-radius: .5rem;
    color: #666;
    font-size: .875rem;

    &.active,
    &:hover {
      background-color: map-get($blues, 50);
      color: inherit;
    }
  }
}

.docs-toc {
  position: sticky;
  top: 1rem;
  height: subtract(100vh, 59px);
  overflow-y: auto;

  nav {
    font-size: .875rem;

    ul {
      padding-left: 0;
      list-style: none;

      ul {
        padding-left: 1.25rem;
      }
    }

    a {
      display: inline-flex;
      text-decoration: none;
      padding: .25rem .5rem;
      margin-bottom: .125rem;
      border-radius: .25rem;
      color: #666;
      font-size: .875rem;

      &:hover {
        background-color: map-get($blues, 50);
        color: inherit;
      }

      code {
        margin-right: 3px;
        font: inherit;
      }
    }
  }
}

.docs-content {
  & > h2:not(:first-child) {
    margin-top: 3rem;
  }

  & > h3:not(:first-child) {
    margin-top: 2.5rem;
  }

  p,
  li {
    line-height: 1.5;
  }
}

.docs-example {
  border: 1px solid #ddd;
  border-radius: .5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;

  .docs-preview {
    padding: 1.5rem;
    margin: 0;

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    &.docs-preview-grid {
      .grid {
        border-radius: .5rem;
        background-image: linear-gradient(45deg, rgba($blue, .4) 10%, transparent 0, transparent 50%, rgba($blue, .4) 0, rgba($blue, .4) 60%, transparent 0, transparent);
        background-size: 6px 6px;

        & > * {
          padding: .75rem 0;
          background: rgba($blue, .1);
          border: 1px solid $blue;
          text-align: center;
          border-radius: .5rem;
          backdrop-filter: blur(2px);
        }
      }
    }

    &.docs-preview-flex {
      .d-flex,
      .d-inline-flex {
        border-radius: .5rem;
        background-image: linear-gradient(45deg, rgba($orange, .4) 10%, transparent 0, transparent 50%, rgba($orange, .4) 0, rgba($orange, .4) 60%, transparent 0, transparent);
        background-size: 6px 6px;

        & > * {
          padding: .75rem 0;
          background: rgba($orange, .1);
          border: 1px solid $orange;
          text-align: center;
          border-radius: .5rem;
          backdrop-filter: blur(2px);

          &.md-item {
            padding: 1rem;
            align-content: center;
          }
        }
      }
    }

    &.docs-preview-border {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: .5rem;

      [class^="border"] {
        width: 100px;
        height: 100px;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background-color: map-get($greys, 50);

        &:last-child {
          margin-right: 0;
        }
      }

      &.bordered {
        [class^="border"] {
          border: 1px solid map-get($greys, 200);
        }
      }
    }
  }

  .highlight {
    & > pre {
      margin: 0;
      padding: 1rem 1.5rem;
      border-radius: 0 0 .5rem .5rem;
      font-size: 14px;
      line-height: 1.5;
      font-family: $font-family-mono;
    }
  }
}

@each $palette-name, $palette in $palettes {
  @each $palette-code, $color in $palette {
    .bg-#{$palette-name}-#{$palette-code} {
      background-color: #{$color};
    }
  }
}
