// stylelint-disable declaration-block-no-redundant-longhand-properties
// stylelint-disable no-descending-specificity

@import "../../../scss/mixins";
@import "../../../scss/functions/color";

@import "../../../scss/variable";

// Docs grid
.docs-grid {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 56px auto auto;
  grid-template-areas:
    "navbar"
    "main"
    "footer";

  @media (min-width: 800px) {
    grid-template-columns: 240px auto;
    grid-template-areas:
      "navbar navbar"
      "sidebar main"
      "sidebar footer";
  }
}

.docs-navbar {
  grid-area: navbar;
  position: sticky;
  top: 0;
  z-index: 1030;
}

.docs-navigation {
  .list {
    .list-item.list-item-action {
      font-size: 87.5%;
      border-radius: 0;
      color: var(--grey-800) !important;

      &:hover {
        background-color: var(--accent-100) !important;
        color: var(--accent-800) !important;
      }

      &:hover.active,
      &.active {
        background-color: var(--accent-200) !important;
        color: var(--accent-800) !important;
      }
    }
  }
}

.docs-footer {
  grid-area: footer;
  border-top: 1px solid var(--grey-400);
}

.docs-main {
  display: grid;
  max-width: 100vw;
  gap: 2rem;
  grid-area: main;
  margin: 0 auto;
  padding: 36px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "meta"
    "toc"
    "article";

  @media (min-width: 1000px) {
    grid-template-columns: auto 200px;
    grid-template-rows: auto auto;
    grid-template-areas:
      "meta toc"
      "article toc";
  }

  @media (min-width: 1400px) {
    grid-template-columns: 840px 200px;
  }

  .docs-main-meta {
    grid-area: meta;
    width: 100%;
  }

  .docs-main-toc {
    grid-area: toc;

    .docs-toc {
      position: sticky;
      top: 96px;
    }
  }

  .docs-main-content {
    grid-area: article;
  }
}

.docs-sidebar {
  @media (min-width: 800px) {
    grid-area: sidebar;
    position: sticky;
    top: 56px;
    border-right: $border-width solid var(--grey-400);
    height: calc(100vh - 56px);
    z-index: 1020;

    .offcanvas-body {
      overflow: auto;
      height: calc(100vh - 56px);
    }
  }
}

.docs-toc {
  position: sticky;
  top: 1rem;
  height: subtract(100vh, 59px);
  overflow-y: auto;

  nav {
    font-size: .875rem;

    ul {
      padding-left: 0;
      list-style: none;

      ul {
        padding-left: 1.25rem;
      }
    }

    a {
      display: inline-flex;
      text-decoration: none;
      padding: .25rem .5rem;
      margin-bottom: .125rem;
      border-radius: .25rem;
      color: #666;
      font-size: .875rem;

      &:hover {
        background-color: var(--accent-200);
        color: inherit;
      }

      code {
        margin-right: 3px;
        font: inherit;
      }
    }
  }
}

.docs-content {
  & > h2:not(:first-child) {
    margin-top: 3rem;
  }

  & > h3:not(:first-child) {
    margin-top: 2.5rem;
  }

  p,
  li {
    line-height: 1.5;
  }
}

.docs-example {
  border: 1px solid #ddd;
  border-radius: .5rem;
  margin-bottom: 1rem;
  width: 100%;

  .docs-preview {
    padding: 1.5rem;
    margin: 0;

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    .nav + .nav,
    progress + progress,
    progress + .progress,
    .progress + progress,
    .progress + .progress {
      margin-top: 1rem;
    }

    &.docs-colors-preview {
      .color {
        border-radius: $border-radius;
        padding: 1rem;
        background: var(--color-700);
        color: var(--color-text);
      }
    }

    &.docs-bg-colors-preview {
      .grid > div {
        border-radius: $border-radius;
        padding: 1rem;
      }
    }

    &.docs-preview-sizing-rows {
      & > div {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: $spacer * .5;
        }

        & > div:first-child {
          width: $spacer * 6;
          flex-shrink: 0;
        }

        & > div:last-child {
          flex-grow: 1;

          & > div {
            background-color: var(--accent-700);
            border-radius: $border-radius;
            padding-top: $spacer;
            padding-bottom: $spacer;
            color: #fff;
          }
        }
      }
    }

    &.docs-preview-sizing-columns {
      display: flex;

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
          margin-right: $spacer * .5;
        }

        & > div:first-child {
          width: $spacer * 6;
          flex-shrink: 0;
          text-align: center;
          margin-bottom: .5rem;
        }

        & > div:last-child {
          flex-grow: 1;
          width: 100%;

          & > div {
            background-color: var(--accent-700);
            border-radius: $border-radius;
            padding-left: $spacer;
            padding-right: $spacer;
            color: #fff;
          }
        }
      }
    }

    &.docs-preview-img {
      background-image: url("/img/background.png");
      background-size: cover;
      background-position: center bottom;
      height: 250px;
      width: 100%;
      position: relative;
    }

    &.docs-preview-grid {
      .grid {
        border-radius: .5rem;
        background-image: linear-gradient(45deg, rgba($blue, .4) 10%, transparent 0, transparent 50%, rgba($blue, .4) 0, rgba($blue, .4) 60%, transparent 0, transparent);
        background-size: 6px 6px;

        & > * {
          padding: .75rem 0;
          background: rgba($blue, .1);
          border: 1px solid $blue;
          text-align: center;
          border-radius: .5rem;
          backdrop-filter: blur(2px);
        }
      }
    }

    &.docs-preview-flex {
      .d-flex,
      .d-inline-flex {
        border-radius: .5rem;
        background-image: linear-gradient(45deg, rgba($orange, .4) 10%, transparent 0, transparent 50%, rgba($orange, .4) 0, rgba($orange, .4) 60%, transparent 0, transparent);
        background-size: 6px 6px;

        & > * {
          padding: .75rem 0;
          background: rgba($orange, .1);
          border: 1px solid $orange;
          text-align: center;
          border-radius: .5rem;
          backdrop-filter: blur(2px);

          &.md-item {
            padding: 1rem;
            align-content: center;
          }
        }
      }
    }

    &.docs-preview-border {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: .5rem;

      [class^="border"] {
        width: 100px;
        height: 100px;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background-color: var(--grey-200);

        &:last-child {
          margin-right: 0;
        }
      }

      &.bordered {
        [class^="border"] {
          border: 1px solid var(--grey-500);
        }
      }
    }

    &.docs-preview-position {
      .position-relative {
        background: var(--grey-200);
        height: 150px;
        width: 100%;
        border-radius: $border-radius;
      }

      .position-absolute {
        width: 32px;
        height: 32px;
        border-radius: $border-radius;
      }
    }

    &.docs-preview-offcanvas {
      padding: 0;

      .offcanvas {
        position: static;
        display: block;
        height: 240px;
        visibility: visible;
        transform: translate(0);
      }
    }

    &.docs-preview-dropdown-menu {
      .dropdown-menu {
        position: relative;
        margin-top: 0;
        z-index: initial;
      }
    }
  }

  .highlight {
    & > pre {
      margin: 0;
      padding: 1rem 1.5rem;
      border-radius: 0 0 .5rem .5rem;
      font-size: 14px;
      line-height: 1.5;
      font-family: $font-family-mono;
      white-space: pre-wrap;
    }
  }
}
