.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .3);
  transition: $base-transition;

  @supports (backdrop-filter: blur(15px) saturate(350%)) {
    backdrop-filter: blur(10px) saturate(250%);
  }

  // Fade for backdrop
  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: .5;
  }
}
