.dialog {
  color: inherit;
  padding: 0;
  border: none;
  border-radius: $border-radius;
  background-color: var(--acrylic-solid-background);
  box-shadow: map-get($box-shadows, 1), map-get($box-shadows, 3);
  width: 100%;
  max-width: $dialog-md;

  @supports (backdrop-filter: blur(15px) saturate(350%)) {
    background-color: var(--acrylic-background);
    backdrop-filter: blur(15px) saturate(250%);
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, .3);

    @supports (backdrop-filter: blur(15px) saturate(350%)) {
      backdrop-filter: blur(10px) saturate(250%);
    }
  }

  &.dialog-sm {
    max-width: $dialog-sm;
  }

  &.dialog-lg {
    max-width: $dialog-lg;
  }

  &.dialog-xl {
    max-width: $dialog-xl;
  }
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacer * .75 $spacer * .75 0;

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin: 0;
  }
}

.dialog-body {
  padding: $spacer * .75;

  :last-child {
    margin-bottom: 0;
  }
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacer * .75;
  border-top: $border-width solid $border-color;
}

.dialog-dialog {
  color: inherit;
  padding: 0;
  border: none;
  border-radius: $border-radius;
  background-color: var(--acrylic-solid-background);
  box-shadow: map-get($box-shadows, 1), map-get($box-shadows, 3);
  width: 100%;
  max-width: $dialog-md;
  z-index: 1050;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:focus {
    outline: none;
  }
}

.dialog-description {
  color: $muted;
  padding: 0 $spacer * .75 $spacer * .75;
  margin-bottom: 0;
}

.dialog-content {
  padding: $spacer * .75;

  & > :last-child {
    margin-bottom: 0;
  }
}
