.dropdown {
  display: inline-block;
  position: relative;

  summary {
    cursor: pointer;
  }

  &[open] summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    cursor: default;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  min-width: 240px;
  padding: .25rem;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  list-style: none;
  display: block;
  background: rgba(#fff, .95);
  box-shadow: map-get($box-shadows, 1);

  @supports (backdrop-filter: blur(15px) saturate(350%)) {
    background: rgba(#fff, .85);
    backdrop-filter: blur(15px) saturate(250%);
  }
}

.dropdown-item {
  text-decoration: none;
  padding: .375rem .5rem;
  transition: $base-transition;
  display: block;
  border-radius: $border-radius-sm;
  outline: none;

  &:not(:first-child) {
    margin-top: .125rem;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: var(--accent-700);
    color: var(--accent-text);
  }

  &:focus {
    box-shadow: $btn-box-shadow-inset, 0 0 0 3px var(--accent-550);
  }
}
