.input {
  display: block;
  width: 100%;
  border: $border-color 1px solid;
  border-radius: $border-radius-sm;
  font-size: $font-size-base;
  padding: $spacer * .25 $spacer * .75;
  line-height: 1.5;
  box-shadow: $form-box-shadow-inset;

  &:focus {
    outline: 0;
    border-color: map-get($accent, 500);
    box-shadow: $btn-box-shadow-inset, 0 0 0 3px rgba(map-get($accent, 500), .25);
  }
}

.input-label {
  margin-bottom: $spacer * .5;
  font-weight: 600;
}

.input-text {
  color: map-get($colors, "muted");
  margin-top: $spacer * .25;
  font-size: $font-size-small;
}
