.label {
  border-radius: $border-radius-sm;
  font-size: .85em;
  border: $border-width solid var(--color-600, $border-color);
  font-weight: 600;
  padding: 0 $spacer * .375;
  color: var(--color-800, color-contrast($border-color));

  &.rounded-pill {
    padding: 0 $spacer * .5;
  }
}

.label-filled {
  border-color: var(--color-700, $border-color);
  background-color: var(--color-700, $border-color);
  color: var(--color-text, color-contrast($border-color));
}
