.label {
  border-radius: $border-radius-sm;
  font-size: .85em;
  border: $border-width solid $border-color;
  font-weight: 600;
  padding: 0 $spacer * .375;
  color: color-contrast($border-color);
}

.label-filled {
  background-color: $border-color;
}

@each $color-name, $color in $variant-colors {
  $color-contrast: color-contrast($color);

  .label-#{$color-name} {
    border-color: #{$color};
    color: shade($color, 45%);
  }

  .label-filled.label-#{$color-name} {
    background-color: #{$color};
    color: $color-contrast;
  }
}
