// Function to check if the given breakpoint is the 0 breakpoint. The 0-breakpoint
// is equivalent of setting no breakpoint so it doesn't need its own classes.
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);

  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $max: map-get($breakpoints, $name);

  @return if($max != 0, $max, null);
}

// Create the breakpoint suffix, when it matches the 0-breakpoint, return an empty
// string instead.
@function breakpoint-suffix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

// Add a media query around anything that isn't the 0-breakpoint breakpoint.
@mixin breakpoint-min-width($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin breakpoint-max-width($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin rfs($min-font-size, $max-font-size) {
  $rfs-min-vw-rem: calc((#{ $rfs-min-vw } / 16) * 1rem);
  $rfs-rise: #{ $max-font-size - $min-font-size };
  $rfs-run: calc((#{ $rfs-max-vw } / 16) - (#{ $rfs-min-vw } / 16));
  $rfs-slope: calc(#{ $rfs-rise / $rfs-run });

  $min-font-size-rem: calc(#{ $min-font-size } * 1rem);
  $max-font-size-rem: calc(#{ $max-font-size } * 1rem);
  $fluid-font-size-rem: calc(#{ $rfs-slope } * (100vw - #{ $rfs-min-vw-rem }) + #{ $min-font-size-rem });

  font-size: clamp($min-font-size-rem, $fluid-font-size-rem, $max-font-size-rem);
}
