// Function to check if the given breakpoint is the 0 breakpoint. The 0-breakpoint
// is equivalent of setting no breakpoint so it doesn't need its own classes.
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);

  @return if($min != 0, $min, null);
}

// Create the breakpoint suffix, when it matches the 0-breakpoint, return an empty
// string instead.
@function breakpoint-suffix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

// Add a media query around anything that isn't the 0-breakpoint breakpoint.
@mixin breakpoint-min-width($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin rfs($min-font-size, $max-font-size) {
  $u1: unit($min-font-size);
  $u2: unit($max-font-size);

  @if $u1 == "rem" and $u2 == "rem" {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: 18.75rem) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - 18.75rem) / #{strip-unit(75rem - 18.75rem)}));
      }
      @media screen and (min-width: 75rem) {
        font-size: $max-font-size;
      }
    }
  }
}
