/* stylelint-disable no-descending-specificity */
.nav {
  display: flex;
  height: map-get($nav-sizes, "md");

  .container,
  .container-fluid {
    display: flex;
  }

  &.nav-sm {
    height: map-get($nav-sizes, "sm");
  }

  &.nav-lg {
    height: map-get($nav-sizes, "lg");
  }
}

.nav-bar {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-brand {
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
}

.nav-link {
  padding: 0;
  text-decoration: none;
  display: inline-block;

  &:focus {
    box-shadow: 0 0 0 3px rgba(map-get($accent, 500), .4);
    outline: none;
  }

  :not(:first-child) > & {
    margin-left: 1rem;
  }
}

.nav-light {
  .nav-link {
    color: rgba($dark, .65);

    &.active,
    &:hover,
    &:focus {
      color: $dark;
    }
  }

  .nav-brand {
    color: $dark;
  }
}

.nav-dark {
  .nav-link {
    color: rgba($light, .65);

    &.active,
    &:hover,
    &:focus {
      color: $light;
    }
  }

  .nav-brand {
    color: $light;
  }
}
