@each $breakpoint in map-keys($grid-breakpoints) {
  $breakpoint-suffix: breakpoint-suffix($breakpoint, $grid-breakpoints);

  @include breakpoint-max-width($breakpoint, $grid-breakpoints) {
    .offcanvas#{$breakpoint-suffix} {
      position: fixed;
      background-color: var(--acrylic-fallback-background);
      z-index: 1050;
      display: flex;
      flex-direction: column;
      background-clip: padding-box;
      outline: 0;
      transition: transform .2s ease-in-out;

      @supports (backdrop-filter: blur(15px) saturate(350%)) {
        background-color: var(--acrylic-background);
        backdrop-filter: blur(15px) saturate(250%);
      }

      &.offcanvas-animate {
        visibility: hidden;

        &.showing,
        &.hiding,
        &.show {
          visibility: visible;
        }

        &.showing,
        &.show:not(.hiding) {
          transform: none;
        }

        &.offcanvas-start {
          transform: translateX(-100%);
        }

        &.offcanvas-end {
          transform: translateX(100%);
        }
      }

      &.offcanvas-start {
        top: 0;
        left: 0;
        bottom: 0;
        width: 360px;
        max-width: 100%;
        border-right: $border-width solid $border-color;
      }

      &.offcanvas-end {
        top: 0;
        right: 0;
        bottom: 0;
        width: 360px;
        max-width: 100%;
        border-left: $border-width solid $border-color;
      }

      .offcanvas-header {
        display: flex;
      }

      .offcanvas-body {
        padding: $spacer;
      }
    }
  }
}

.offcanvas-header {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacer;
  height: map-get($nav-sizes, "md");
  border-bottom: $border-width solid $border-color;
  flex-shrink: 0;

  .offcanvas-title {
    margin: 0;
  }
}

.offcanvas-body {
  overflow-y: auto;
  flex-grow: 1;
}
