.pagination {
  display: inline-flex;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  border: $border-color solid 1px;
  border-radius: $border-radius;

  .page-link {
    border-radius: $border-radius;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--accent-600);
    text-decoration: none;
    padding: .25rem .75rem;
    transition: $base-transition;

    &:hover {
      z-index: 2;
      background-color: var(--grey-100);
    }
  }

  .page-item {
    &.active .page-link {
      background-color: var(--accent-600);
      color: #fff;
    }

    &.disabled .page-link {
      pointer-events: none;
      color: var(--grey-500);
    }
  }
}
