.pagination {
  display: inline-flex;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  border-radius: $border-radius;
  background-color: var(--grey-100);

  .page-link {
    border-radius: $border-radius;
    width: 34px;
    height: 34px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--color-700, var(--accent-700));
    text-decoration: none;
    padding: .25rem .75rem;
    transition: $base-transition;

    &:hover {
      z-index: 2;
      background-color: var(--grey-300);
    }
  }

  .page-item {
    &.active .page-link {
      background-color: var(--color-600, var(--accent-600));
      color: var(--color-text, var(--accent-text));
    }

    &.disabled .page-link {
      pointer-events: none;
      color: var(--grey-500);
    }
  }
}
