.pagination {
  display: flex;
  padding: 0;
  list-style: none;
  margin-bottom: 0;

  .page-link {
    display: block;
    position: relative;
    color: map-get($accent, 500);
    text-decoration: none;
    border: $border-color solid 1px;
    padding: .25rem .75rem;

    :hover {
      z-index: 2;
      background-color: map-get($greys, 50);
    }
  }

  .page-item {
    &:first-child {
      .page-link {
        border-radius: $border-radius-sm 0 0 $border-radius-sm;
      }
    }

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:last-child {
      .page-link {
        border-radius: 0 $border-radius-sm $border-radius-sm 0;
      }
    }

    &.active .page-link {
      background-color: map-get($accent, 500);
      border-color: map-get($accent, 500);
      color: #fff;
    }

    &.disabled .page-link {
      pointer-events: none;
      color: map-get($greys, 400);
    }
  }
}
