$utilities: (
  // Backgorund
  "bg": (
    property: background-color,
    values: map-merge(
      $util-colors,
      (
        "transparent": transparent,
        "light": $light,
        "dark": $dark,
        "white": #fff
      )
    )
  ),
  // Color
  "text": (
    property: color,
    values: map-merge(
      $util-colors,
      (
        "light": $light,
        "muted": $grey,
        "dark": $dark,
        "white": #fff,
        "reset": inherit
      )
    )
  ),
  // Shadows
  "shadow": (
    property: box-shadow,
    values: map-merge(
      $box-shadows,
      (
        "none": none
      )
    )
  ),
  // Position
  "translate-center": (
    property: transform,
    values: (
      null: translate(-50%, -50%),
      x: translateX(-50%),
      y: translateY(-50%)
    )
  )
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include breakpoint-min-width($breakpoint) {
    $breakpoint-suffix: breakpoint-suffix($breakpoint, $grid-breakpoints);

    @each $name, $definition in $utilities {
      // Prevent generating responsive utilities if the utility doesn't require it
      @if (map-get($definition, responsive) or $breakpoint-suffix == "") {
        @include upi($name, $definition, $breakpoint-suffix);
      }
    }
  }
}
