// Fonts
// stylelint-disable value-keyword-case
$font-family-sans: "Segoe UI Variable Text", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-heading: "Segoe UI Variable Display", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: charter, Georgia, Cambria, "Times New Roman", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

// Colors
$red:                 #eb0000 !default;
$orange:              #f57600 !default;
$amber:               #f5b400 !default;
$yellow:              #f5d000 !default;
$lime:                #7acc00 !default;
$green:               #1ea835 !default;
$teal:                #00d3b0 !default;
$cyan:                #00b3d3 !default;
$blue:                #0068d8 !default;
$indigo:              #5560f7 !default;
$violet:              #8055f7 !default;
$purple:              #c455f7 !default;
$pink:                #ec4899 !default;
$rose:                #fd194b !default;
$brown:               #795548 !default;
$brown:               #a57041;
$grey:                #6b707a !default;

$accent:              $blue;
$light:               tint($accent, 92%);
$muted:               $grey;
$dark:                shade($grey, 70%);

$colors: (
  red: $red,
  orange: $orange,
  amber: $amber,
  "yellow": $yellow,
  lime: $lime,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  blue: $blue,
  indigo: $indigo,
  violet: $violet,
  purple: $purple,
  pink: $pink,
  rose: $rose,
  brown: $brown,
  grey: $grey
) !default;

:root {
  --grey-50: #{tint($grey, 98%)};
  --grey-100: #{tint($grey, 96%)};
  --grey-200: #{tint($grey, 92%)};
  --grey-300: #{tint($grey, 87%)};
  --grey-400: #{tint($grey, 80%)};
  --grey-500: #{tint($grey, 70%)};
  --grey-550: #{tint($grey, 57%)};
  --grey-600: #{tint($grey, 28%)};
  --grey-700: #{$grey};
  --grey-750: #{shade($grey, 7%)};
  --grey-800: #{shade($grey, 22%)};
  --grey-900: #{shade($grey, 70%)};
  --grey-text: #{color-contrast($grey)};
  --red-50: #{tint($red, 98%)};
  --red-100: #{tint($red, 96%)};
  --red-200: #{tint($red, 92%)};
  --red-300: #{tint($red, 87%)};
  --red-400: #{tint($red, 80%)};
  --red-500: #{tint($red, 70%)};
  --red-550: #{tint($red, 57%)};
  --red-600: #{tint($red, 28%)};
  --red-700: #{$red};
  --red-750: #{shade($red, 7%)};
  --red-800: #{shade($red, 22%)};
  --red-900: #{shade($red, 70%)};
  --red-text: #{color-contrast($red)};
  --accent-50: #{tint($accent, 98%)};
  --accent-100: #{tint($accent, 96%)};
  --accent-200: #{tint($accent, 92%)};
  --accent-300: #{tint($accent, 87%)};
  --accent-400: #{tint($accent, 80%)};
  --accent-500: #{tint($accent, 70%)};
  --accent-550: #{tint($accent, 57%)};
  --accent-600: #{tint($accent, 28%)};
  --accent-700: #{$accent};
  --accent-750: #{shade($accent, 7%)};
  --accent-800: #{shade($accent, 22%)};
  --accent-900: #{shade($accent, 70%)};
  --accent-text: #{color-contrast($accent)};
}

.accent {
  --color-50: #{tint($accent, 98%)};
  --color-100: #{tint($accent, 96%)};
  --color-200: #{tint($accent, 92%)};
  --color-300: #{tint($accent, 87%)};
  --color-400: #{tint($accent, 80%)};
  --color-500: #{tint($accent, 70%)};
  --color-550: #{tint($accent, 57%)};
  --color-600: #{tint($accent, 28%)};
  --color-700: #{$accent};
  --color-750: #{shade($accent, 7%)};
  --color-800: #{shade($accent, 22%)};
  --color-900: #{shade($accent, 70%)};
  --color-text: #{color-contrast($accent)};
}

@each $name, $color in $colors {
  .#{$name} {
    --color-50: #{tint($color, 98%)};
    --color-100: #{tint($color, 96%)};
    --color-200: #{tint($color, 92%)};
    --color-300: #{tint($color, 87%)};
    --color-400: #{tint($color, 80%)};
    --color-500: #{tint($color, 70%)};
    --color-550: #{tint($color, 57%)};
    --color-600: #{tint($color, 28%)};
    --color-700: #{$color};
    --color-750: #{shade($color, 7%)};
    --color-800: #{shade($color, 22%)};
    --color-900: #{shade($color, 70%)};
    --color-text: #{color-contrast($color)};
  }
}

// Anchors
$anchor-color:          shade($accent, 7%) !default;
$anchor-hover-color:    shade($accent, 22%) !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1200px,
  ul: 1400px
) !default;

$orders: (
  first: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  last: 6
) !default;

// Container width
$container-max-widths: (
  sm: 560px,
  md: 750px,
  lg: 970px,
  xl: 1140px,
  ul: 1320px
) !default;

// Gap
$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3
) !default;

$margins: (
  n5: (-(map-get($spacers, 5))),
  n4: (-(map-get($spacers, 4))),
  n3: (-(map-get($spacers, 3))),
  n2: (-(map-get($spacers, 2))),
  n1: (-(map-get($spacers, 1))),
  0: map-get($spacers, 0),
  1: map-get($spacers, 1),
  2: map-get($spacers, 2),
  3: map-get($spacers, 3),
  4: map-get($spacers, 4),
  5: map-get($spacers, 5),
  auto: auto
) !default;

$paddings: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  auto: auto
) !default;

$gaps: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3
) !default;

// Fonts and typogrpahy
$font-size-base: 1rem !default;
$font-size-small: .875em !default; // Relative to its parent

$font-sizes-heading: (
  h1: $font-size-base * 2.5,
  h2: $font-size-base * 2,
  h3: $font-size-base * 1.75,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base
) !default;

$font-sizes-marketing: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

// Shadows
$box-shadows: (
  1: (.1px .1px .5px rgba(0, 0, 0, .032), .4px .4px 1.8px rgba(0, 0, 0, .048), 2px 2px 8px rgba(0, 0, 0, .08)),
  2: (.1px .1px .7px rgba(0, 0, 0, .04), .4px .4px 2.2px rgba(0, 0, 0, .06), 2px 2px 10px rgba(0, 0, 0, .1)),
  3: (.1px .1px .9px rgba(0, 0, 0, .048), .4px .4px 3.1px rgba(0, 0, 0, .072), 2px 2px 14px rgba(0, 0, 0, .12)),
  4: (.2px .2px 1.2px rgba(0, 0, 0, .057), .7px .7px 4px rgba(0, 0, 0, .083), 3px 3px 18px rgba(0, 0, 0, .14)),
  5: (.2px .2px 1.5px rgba(0, 0, 0, .069), .7px .7px 4.9px rgba(0, 0, 0, .101), 3px 3px 22px rgba(0, 0, 0, .17))
) !default;

// Borders
$border-color:        tint($grey, 70%) !default;
$border-width:        1px !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;
$border: $border-width solid $border-color !default;
$borders: (
  null: $border,
  0: 0
) !default;

$border-radius-sm:    .25rem !default;
$border-radius:       .5rem !default;
$border-radius-lg:    1rem !default;
$border-radius-pill:  50rem !default;
$border-radia: (
  0: 0,
  sm: $border-radius-sm,
  null: $border-radius,
  lg: $border-radius-lg,
  pill: $border-radius-pill
) !default;

// Opacity
$opacities: (
  0: 0,
  25: .25,
  50: .5,
  75: .75,
  100: 1
) !default;

// Display
$display-types: (
  block,
  flex,
  grid,
  inline-block,
  inline-grid,
  inline-flex,
  inline,
  none
) !default;

// Position
$positions: (
  static,
  relative,
  absolute,
  fixed,
  sticky
) !default;

$direction-values: (
  0: 0%,
  50: 50%,
  100: 100%
) !default;

// Float
$floats: (
  start: left,
  end: right,
  none: none
) !default;

// Flex
$flex-directions: (
  row,
  row-reverse,
  column,
  column-reverse
) !default;

$flex-wraps: (
  wrap,
  nowrap,
  wrap-reverse
) !default;

$flex-justifies-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly
) !default;

$flex-aligns-items: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
) !default;

$flex-aligns-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  stretch: stretch
) !default;

$flex-aligns-self: (
  auto: auto,
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
) !default;

$flex-orders: (
  first: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  last: 6,
) !default;

// Sizing
$sizes: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 4,
  4: $spacer * 6,
  5: $spacer * 8,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
) !default;

$limit-sizes: (
  0: 0,
  100: 100%
) !default;

// Text
$text-directions: (
  start: left,
  end: right,
  center: center
) !default;

$text-wraps: (
  wrap: normal,
  nowrap: nowrap
) !default;

$text-transforms: (
  uppercase,
  lowercase,
  capitalize
) !default;

$text-decorations: (
  none,
  underline,
  line-through
) !default;

$line-heights: (
  1: 1,
  sm: 1.25,
  md: 1.5,
  lg: 2,
) !default;

$font-weights: (
  light: 300,
  lighter: lighter,
  normal: 400,
  bold: 700,
  bolder: bolder
) !default;

// Overflow
$overflows: (
  auto,
  hidden,
  visible,
  scroll
) !default;

// Buttons
$btn-box-shadow-inset: inset 0 1px 0 rgba(255, 255, 255, .15) !default;

$btn-semantic-color-hover: (
  secondary: "accent",
  danger: "red"
) !default;

$btn-semantic-color: (
  primary: "accent",
  success: "green"
) !default;

// Forms
$form-box-shadow-inset: inset 0 1px 0 rgba(0, 0, 0, .075) !default;

// Transitions
$base-transition: all .2s ease-in-out;

// Navigation
$nav-sizes: (
  sm: 40px,
  md: 56px,
  lg: 72px
) !default;

// Progress
$progress-heights: (
  1: 1px,
  sm: .25rem,
  md: .5rem,
  lg: 1rem,
) !default;
