:root {
  --grey-50: #{tint($grey, 96%)};
  --grey-100: #{tint($grey, 92%)};
  --grey-200: #{tint($grey, 87%)};
  --grey-300: #{tint($grey, 80%)};
  --grey-400: #{tint($grey, 70%)};
  --grey-500: #{tint($grey, 28%)};
  --grey-600: #{$grey};
  --grey-700: #{shade($grey, 7%)};
  --grey-800: #{shade($grey, 22%)};
  --grey-900: #{shade($grey, 70%)};
  --grey-600a: #{rgba($grey, .3)};
  --grey-text: #{color-contrast($grey)};
  --red-50: #{tint($red, 96%)};
  --red-100: #{tint($red, 92%)};
  --red-200: #{tint($red, 87%)};
  --red-300: #{tint($red, 80%)};
  --red-400: #{tint($red, 70%)};
  --red-500: #{tint($red, 28%)};
  --red-600: #{$red};
  --red-700: #{shade($red, 7%)};
  --red-800: #{shade($red, 22%)};
  --red-900: #{shade($red, 70%)};
  --red-600a: #{rgba($red, .3)};
  --red-text: #{color-contrast($red)};
  --accent-50: #{tint($accent, 96%)};
  --accent-100: #{tint($accent, 92%)};
  --accent-200: #{tint($accent, 87%)};
  --accent-300: #{tint($accent, 80%)};
  --accent-400: #{tint($accent, 70%)};
  --accent-500: #{tint($accent, 28%)};
  --accent-600: #{$accent};
  --accent-700: #{shade($accent, 7%)};
  --accent-800: #{shade($accent, 22%)};
  --accent-900: #{shade($accent, 70%)};
  --accent-600a: #{rgba($accent, .3)};
  --accent-text: #{color-contrast($accent)};
}

.accent {
  --color-50: #{tint($accent, 96%)};
  --color-100: #{tint($accent, 92%)};
  --color-200: #{tint($accent, 87%)};
  --color-300: #{tint($accent, 80%)};
  --color-400: #{tint($accent, 70%)};
  --color-500: #{tint($accent, 28%)};
  --color-600: #{$accent};
  --color-700: #{shade($accent, 7%)};
  --color-800: #{shade($accent, 22%)};
  --color-900: #{shade($accent, 70%)};
  --color-600a: #{rgba($accent, .3)};
  --color-text: #{color-contrast($accent)};
}

@each $name, $color in $colors {
  .#{$name} {
    --color-50: #{tint($color, 96%)};
    --color-100: #{tint($color, 92%)};
    --color-200: #{tint($color, 87%)};
    --color-300: #{tint($color, 80%)};
    --color-400: #{tint($color, 70%)};
    --color-500: #{tint($color, 28%)};
    --color-600: #{$color};
    --color-700: #{shade($color, 7%)};
    --color-800: #{shade($color, 22%)};
    --color-900: #{shade($color, 70%)};
    --color-600a: #{rgba($color, .3)};
    --color-text: #{color-contrast($color)};
  }
}
