// Fonts
// stylelint-disable value-keyword-case
$font-family-sans: system-ui, -apple-system, "Segoe UI Variable Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-heading: system-ui, -apple-system, "Segoe UI Variable Display", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

// Colors
$blue:        #0068d8 !default;
$purple:      #a855f7 !default;
$pink:        #ec4899 !default;
$red:         #ea002d !default;
$orange:      #f57600 !default;
$yellow:      #f5c800 !default;
$lime:        #7acc00 !default;
$green:       #29b340 !default;
$grey:        #747474 !default;

$blues: (
  50: tint($blue, 90%),
  100: tint($blue, 80%),
  200: tint($blue, 60%),
  300: tint($blue, 40%),
  400: tint($blue, 20%),
  500: $blue,
  600: shade($blue, 15%),
  700: shade($blue, 30%),
  800: shade($blue, 45%),
  900: shade($blue, 60%)
) !default;

$reds: (
  50: tint($red, 90%),
  100: tint($red, 80%),
  200: tint($red, 60%),
  300: tint($red, 40%),
  400: tint($red, 20%),
  500: $red,
  600: shade($red, 15%),
  700: shade($red, 30%),
  800: shade($red, 45%),
  900: shade($red, 60%)
) !default;

$limes: (
  50: tint($lime, 90%),
  100: tint($lime, 80%),
  200: tint($lime, 60%),
  300: tint($lime, 40%),
  400: tint($lime, 20%),
  500: $lime,
  600: shade($lime, 15%),
  700: shade($lime, 30%),
  800: shade($lime, 45%),
  900: shade($lime, 60%)
) !default;

$greens: (
  50: tint($green, 90%),
  100: tint($green, 80%),
  200: tint($green, 60%),
  300: tint($green, 40%),
  400: tint($green, 20%),
  500: $green,
  600: shade($green, 15%),
  700: shade($green, 30%),
  800: shade($green, 45%),
  900: shade($green, 60%)
) !default;

$yellows: (
  50: tint($yellow, 90%),
  100: tint($yellow, 80%),
  200: tint($yellow, 60%),
  300: tint($yellow, 40%),
  400: tint($yellow, 20%),
  500: $yellow,
  600: shade($yellow, 15%),
  700: shade($yellow, 30%),
  800: shade($yellow, 45%),
  900: shade($yellow, 60%)
) !default;

$oranges: (
  50: tint($orange, 90%),
  100: tint($orange, 80%),
  200: tint($orange, 60%),
  300: tint($orange, 40%),
  400: tint($orange, 20%),
  500: $orange,
  600: shade($orange, 15%),
  700: shade($orange, 30%),
  800: shade($orange, 45%),
  900: shade($orange, 60%)
) !default;

$pinks: (
  50: tint($pink, 90%),
  100: tint($pink, 80%),
  200: tint($pink, 60%),
  300: tint($pink, 40%),
  400: tint($pink, 20%),
  500: $pink,
  600: shade($pink, 10%),
  700: shade($pink, 20%),
  800: shade($pink, 30%),
  900: shade($pink, 40%)
) !default;

$purples: (
  50: tint($purple, 90%),
  100: tint($purple, 80%),
  200: tint($purple, 60%),
  300: tint($purple, 40%),
  400: tint($purple, 20%),
  500: $purple,
  600: shade($purple, 10%),
  700: shade($purple, 20%),
  800: shade($purple, 30%),
  900: shade($purple, 40%)
) !default;

$greys: (
  50: tint($grey, 95%),
  100: tint($grey, 90%),
  200: tint($grey, 75%),
  300: tint($grey, 45%),
  400: tint($grey, 20%),
  500: $grey,
  600: shade($grey, 20%),
  700: shade($grey, 40%),
  800: shade($grey, 60%),
  900: shade($grey, 80%)
) !default;

$palettes: (
  "blue": $blues,
  "red": $reds,
  "lime": $limes,
  "green": $greens,
  "yellow": $yellows,
  "orange": $oranges,
  "pink": $pinks,
  "purple": $purples,
  "grey": $greys
);

$accent:                $blues;

$light:                 map-get($greys, 100);
$dark:                  map-get($greys, 900);

$colors: (
  blue: $blue,
  red: $red,
  lime: $lime,
  green: $green,
  yellow: $yellow,
  orange: $orange,
  pink: $pink,
  purple: $purple,
  grey: $grey,
  light: $light,
  dark: $dark,
  white: #fff,
  muted: map-get($greys, 500),
  reset: inherit
) !default;

// Anchors
$anchor-color:          $blue !default;
$anchor-hover-color:    shade($blue, 20%) !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Container width
$container-max-widths: (
  sm: 560px,
  md: 750px,
  lg: 970px,
  xl: 1140px,
  xxl: 1320px
) !default;

// Gap
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Fonts and typogrpahy
$font-size-base: 1rem !default;
$font-size-small: .875em !default; // Relative to its parent

$font-sizes-heading: (
  h1: $font-size-base * 2.5,
  h2: $font-size-base * 2,
  h3: $font-size-base * 1.75,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base
) !default;

$font-sizes-marketing: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

// Shadows
$box-shadows: (
  0: "none",
  1: (.1px .1px .5px rgba(0, 0, 0, .032), .4px .4px 1.8px rgba(0, 0, 0, .048), 2px 2px 8px rgba(0, 0, 0, .08)),
  2: (.1px .1px .7px rgba(0, 0, 0, .04), .4px .4px 2.2px rgba(0, 0, 0, .06), 2px 2px 10px rgba(0, 0, 0, .1)),
  3: (.1px .1px .9px rgba(0, 0, 0, .048), .4px .4px 3.1px rgba(0, 0, 0, .072), 2px 2px 14px rgba(0, 0, 0, .12)),
  4: (.2px .2px 1.2px rgba(0, 0, 0, .057), .7px .7px 4px rgba(0, 0, 0, .083), 3px 3px 18px rgba(0, 0, 0, .14)),
  5: (.2px .2px 1.5px rgba(0, 0, 0, .069), .7px .7px 4.9px rgba(0, 0, 0, .101), 3px 3px 22px rgba(0, 0, 0, .17))
) !default;

$elevations-dark: (
  0: #333,
  1: #383838,
  2: #454545,
  3: #4f4f4f,
  4: #595959,
  5: #666
) !default;

// Borders
$border-color: map-get($greys, 200);
$border-width: 1px !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

$border-radius-sm: .5rem !default;
$border-radius: 1rem !default;
$border-radius-lg: 1.5rem !default;
$border-radius-pill: 50rem !default;
$border-radia: (
  0: 0,
  sm: $border-radius-sm,
  md: $border-radius,
  lg: $border-radius-lg,
  pill: $border-radius-pill
) !default;

// Opacity
$opacities: (
  0: 0,
  25: .25,
  50: .5,
  75: .75,
  100: 1
) !default;

// Display
$display-types: (
  block,
  flex,
  grid,
  inline-block,
  inline-flex,
  inline,
  none
) !default;

// Float
$floats: (
  start: left,
  end: right,
  none: none
) !default;

// Flex
$flex-directions: (
  row,
  row-reverse,
  column,
  column-reverse
) !default;

$flex-wraps: (
  wrap,
  nowrap,
  wrap-reverse
) !default;

$flex-justifies-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
) !default;

$flex-aligns-items: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
) !default;

$flex-aligns-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  stretch: stretch
) !default;

$flex-aligns-self: (
  auto: auto,
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
) !default;

$flex-orders: (
  first: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  last: 6,
) !default;

// Sizing
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
) !default;

$min-sizes: (
  0: 0,
  100: 100%
) !default;

$max-sizes: (
  0: 0,
  100: 100%
) !default;

// Text
$text-directions: (
  start: left,
  end: right,
  center: center
) !default;

$text-wraps: (
  wrap: normal,
  nowrap: nowrap
) !default;

$text-transforms: (
  uppercase,
  lowercase,
  capitalize
) !default;

$text-decorations: (
  none,
  underline,
  line-through
) !default;

$line-heights: (
  1: 1,
  sm: 1.25,
  md: 1.5,
  lg: 2,
) !default;

$font-weights: (
  light: 300,
  lighter: lighter,
  normal: 400,
  bold: 700,
  bolder: bolder
) !default;

// Overflow
$overflows: (
  auto,
  hidden,
  visible,
  scroll
) !default;

// Buttons
// $btn-box-shadow: 0 1px 0 rgba(0, 0, 0, .07) !default;
$btn-box-shadow-inset: inset 0 1px 0 rgba(255, 255, 255, .15) !default;

$btn-context-colored-text: (
  default: (
    500: #000
  )
) !default;

$btn-context-colored-hover: (
  secondary: $accent,
  danger: $reds
) !default;

$btn-context-colored: (
  primary: $accent,
  success: $greens
) !default;

$btn-colored: (
  blue: $blues,
  red: $reds,
  lime: $limes,
  green: $greens,
  yellow: $yellows,
  orange: $oranges,
  pink: $pinks,
  purple: $purples,
  grey: $greys
) !default;
