@mixin upi($name, $definition, $breakpoint-suffix) {
  $values: map-get($definition, values);
  $properties: map-get($definition, property);

  @each $property-suffix, $value in $values {
    // Use breakpoint suffix if present
    $property-suffix: if($property-suffix, if($property-suffix == "", "", "-") + $property-suffix, "");

    .#{$name + $breakpoint-suffix + $property-suffix} {
      @each $property in $properties {
        #{$property}: $value !important;
      }
    }
  }
}
