<!doctype html>
<html lang="en">
  <head>
    {{ partialCached "head" . }}
  </head>
  <body>
    {{ partial "navbar" . }}

    <main class="container-lg pt-3">
      <div class="grid grid-12">
        <div class="col-12 docs-content">
          <div class="text-center my-5">
            <h1 class="marketing-3 fw-bold mb-0">Mellow CSS</h1>
            <p class="lead text-muted">The modern, responsive CSS framework for Sippy.</p>
            <a href="/get-started/installation/" class="mt-5 btn btn-primary btn-lg">Documentation <i class="vi vi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </main>

    {{ partialCached "footer" . }}
  </body>
</html>
