<nav class="nav nav-dark bg-accent docs-navbar">
  <div class="container-fluid">
    <a class="nav-brand" href="/">Mellow CSS</a>

    <ul class="nav-bar me-auto">
      <li class="nav-item">
        <a class="nav-link" href="/get-started/installation">Docs</a>
      </li>
    </ul>
    <ul class="nav-bar ms-auto d-md-none">
      <li class="nav-item">
        <button class="nav-btn-expand" type="button" data-mellow-toggle="offcanvas" data-mellow-target="#docsNav">
          <i class="vi vi-bars"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>
