{{- $url := split .Permalink "/" -}}
{{- $slug := index $url (sub (len $url) 2) -}}

<aside class="docs-navigation">
  {{- range $section := .Site.Data.docs -}}
    {{- $section_slug := $section.title | urlize -}}
    {{- $is_active_section := eq $.Page.Params.section $section_slug -}}

    <p class="h6 mb-2 mt-3 ms-3">{{ $section.title }}</p>
    <nav class="list">
      {{- range $page := $section.pages -}}
        {{- $page_slug := $page.title | urlize -}}
        {{- $is_active := and $is_active_section (eq $slug $page_slug) -}}
        {{- $href := printf "/%s/%s/" $section_slug $page_slug }}

        <a class="list-item list-item-action{{ if $is_active }} active{{ end }}" href="{{ $href }}"><span class="list-item-label">{{ $page.title }}</span></a>
      {{- end }}
    </nav>
  {{- end }}
</aside>
