<aside class="docs-navigation">
  <p class="h5">Get started</p>
  <ul class="list-none">
    <li><a href="/">Installation</a></li>
    <li><a href="/vivify">Vivify</a></li>
  </ul>
  <p class="h5">Basics</p>
  <ul class="list-none">
    <li><a href="/basics/typography">Typography</a></li>
  </ul>
  <p class="h5">Grid</p>
  <ul class="list-none">
    <li><a href="/layout/breakpoints">Breakpoints</a></li>
    <li><a href="/layout/container">Container</a></li>
    <li><a href="/layout/grid">Grid</a></li>
  </ul>
  <p class="h6 mb-1 mt-2 ms-2">Components</p>
  <ul class="list-none">
    <li><a href="/components/buttons">Buttons</a></li>
  </ul>
  <p class="h6 mb-1 mt-2 ms-2">Utilities</p>
  <ul class="list-none">
    <li><a href="/utilities/background">Background</a></li>
    <li><a href="/utilities/borders">Borders</a></li>
    <li><a href="/utilities/color">Color</a></li>
    <li><a href="/utilities/display">Display</a></li>
    <li><a href="/utilities/elevation">Elevation</a></li>
    <li><a href="/utilities/flex">Flex</a></li>
    <li><a href="/utilities/layout">Layout</a></li>
    <li><a href="/utilities/opacity">Opacity</a></li>
    <li><a href="/utilities/overflow">Overflow</a></li>
    <li><a href="/utilities/sizing">Sizing</a></li>
    <li><a href="/utilities/spacing">Spacing</a></li>
    <li><a href="/utilities/text">Text</a></li>
    <li><a href="/utilities/truncate">Text truncation</a></li>
  </ul>
</aside>
