
{{- $url := split .Permalink "/" -}}
{{- $slug := index $url (sub (len $url) 2) -}}

<aside class="docs-navigation">
  {{- range $section := .Site.Data.docs -}}
    {{- $section_slug := $section.title | urlize -}}

    <div class="border-top p-3">
      <p class="h6">{{ $section.title }}</p>
      <ul class="list-none">
        {{- range $page := $section.pages -}}
          {{- $page_slug := $page.title | urlize -}}
          {{- $href := printf "/%s/%s/" $section_slug $page_slug }}

          <li><a href="{{ $href }}">{{ $page.title }}</a></li>
        {{- end }}
      </ul>
    </div>
  {{- end }}
</aside>
