{{- $class := .Get "class" | default "accent" -}}
{{- $name := .Get "name" | default "Accent" -}}

<h3 class="h5">{{ $name }}</h3>
<div class="d-flex mb-3">
  <div class="w-4 flex-shrink-0">
    <div class="grid grid-1 gap-1 font-mono">
      <span style="height: 21px"></span>
      <span style="height: 32px" class="d-flex align-items-center text-muted text-lowercase">Light</span>
      <span style="height: 32px" class="d-flex align-items-center text-muted text-lowercase">System</span>
      <span style="height: 32px" class="d-flex align-items-center text-muted text-lowercase">Dark</span>
    </div>
  </div>
  <div class="grid grid-1 gap-1">
    <div class="grid grid-13 gap-1">
      <span class="text-center">50</span>
      <span class="text-center">100</span>
      <span class="text-center">200</span>
      <span class="text-center">300</span>
      <span class="text-center">400</span>
      <span class="text-center">500</span>
      <span class="text-center fw-bold">600</span>
      <span class="text-center">700</span>
      <span class="text-center">800</span>
      <span class="text-center">900</span>
      <span class="text-center">300a</span>
      <span class="text-center">600a</span>
      <span class="text-center">text</span>
    </div>
    <div class="grid grid-13 gap-1 light {{ $class }}">
      <div class="py-3 rounded-sm" style="background: var(--color-50)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-100)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-200)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-300)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-400)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-500)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-600)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-700)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-800)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-900)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-300a)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-600a)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-text)"></div>
    </div>
    <div class="grid grid-13 gap-1 system {{ $class }}">
      <div class="py-3 rounded-sm" style="background: var(--color-50)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-100)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-200)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-300)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-400)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-500)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-600)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-700)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-800)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-900)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-300a)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-600a)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-text)"></div>
    </div>
    <div class="grid grid-13 gap-1 {{ $class }} dark">
      <div class="py-3 rounded-sm" style="background: var(--color-50)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-100)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-200)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-300)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-400)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-500)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-600)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-700)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-800)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-900)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-300a)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-600a)"></div>
      <div class="py-3 rounded-sm" style="background: var(--color-text)"></div>
    </div>
  </div>
</div>
