// Fonts
// stylelint-disable value-keyword-case
$font-family-sans: system-ui, -apple-system, "Segoe UI Variable Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-heading: system-ui, -apple-system, "Segoe UI Variable Display", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

// Colors
$blues: (
  100: #cce1f7,
  200: #99c3ef,
  300: #66a4e8,
  400: #3386e0,
  500: #0068d8,
  600: #005ec2,
  700: #0053ad,
  800: #004997,
  900: #003e82
) !default;

$reds: (
  100: #fbccd5,
  200: #f799ab,
  300: #f04d6c,
  400: #ee3357,
  500: #ea002d,
  600: #d30029,
  700: #bb0024,
  800: #a4001f,
  900: #8c001b
) !default;

$greens: (
  100: #e6f9c9,
  200: #cff497,
  300: #b8ee64,
  400: #a0e931,
  500: #7acc00,
  600: #6fac13,
  700: #5a8c0f,
  800: #456b0c,
  900: #314b08
) !default;

$yellows: (
  100: #fff4c2,
  200: #ffea8f,
  300: #ffe15c,
  400: #ffd829,
  500: #f5c800,
  600: #d1ab00,
  700: #ae8e00,
  800: #8a7100,
  900: #665300
) !default;

$oranges: (
  100: #ffca99,
  200: #ffb570,
  300: #ffa048,
  400: #ff8b1f,
  500: #f57600,
  600: #bd5b00,
  700: #854000,
  800: #4d2500,
  900: #150a00
) !default;

$pinks: (
  100: #fdeef6,
  200: #f9c5df,
  300: #f59bc7,
  400: #f072b0,
  500: #ec4899,
  600: #e82384,
  700: #cd1570,
  800: #a8115c,
  900: #830e48
) !default;

$purples: (
  100: #eeddfd,
  200: #dcbbfc,
  300: #cb99fa,
  400: #b977f9,
  500: #a855f7,
  600: #942ef5,
  700: #800bef,
  800: #6b09c8,
  900: #5608a1
) !default;

$greys: (
  100: #f4f4f4,
  200: #e4e4e4,
  300: #d4d4d4,
  400: #a3a3a3,
  500: #747474,
  600: #535353,
  700: #424242,
  800: #282828,
  900: #191919
) !default;

$blue: map-get($blues, 500) !default;
$red: map-get($reds, 500) !default;
$green: map-get($greens, 500) !default;
$yellow: map-get($yellows, 500) !default;
$orange: map-get($oranges, 500) !default;
$pink: map-get($pinks, 500) !default;
$purple: map-get($purples, 500) !default;
$grey: map-get($greys, 500) !default;

$colors: (
  blue: $blue,
  red: $red,
  green: $green,
  yellow: $yellow,
  orange: $orange,
  pink: $pink,
  purple: $purple,
  grey: $grey,
  light: map-get($greys, 100),
  dark: map-get($greys, 900),
  white: #fff
) !default;

// Anchors
$anchor-color: $blue !default;
$anchor-hover-color: #0055b6 !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Container width
$container-max-widths: (
  sm: 560px,
  md: 750px,
  lg: 970px,
  xl: 1140px,
  xxl: 1320px
) !default;

// Gap
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Fonts and typogrpahy
$font-size-base: 1rem !default;
$font-size-small: .875em !default; // Relative to its parent

$font-sizes-heading: (
  h1: $font-size-base * 2.5,
  h2: $font-size-base * 2,
  h3: $font-size-base * 1.75,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base
) !default;

$font-sizes-marketing: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;
