<!doctype html>
<html lang="en">
  <head>
    {{ partialCached "head" . }}
  </head>
  <body class="docs-grid">
    {{ partialCached "navbar" . }}

    <div class="docs-sidebar border-end bg-light">
      {{ partialCached "navigation" . }}
    </div>

    <main class="docs-main container">
      <div class="docs-main-meta">
        <h1>{{ .Title }}</h1>
        <p class="lead">{{ .Description }}</p>
      </div>
      <side class="docs-main-toc">
        <div class="docs-toc">
          <p class="h6 ms-2">On this page</p>
          {{ .TableOfContents }}
        </div>
      </side>
      <article class="docs-main-content">
        {{ .Content }}
      </article>
    </main>

    {{ partialCached "footer" . }}
  </body>
</html>
