// Fonts
$font-family-sans: system-ui, -apple-system, "Segoe UI Variable Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-heading: system-ui, -apple-system, "Segoe UI Variable Display", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Colors
$primary: #0068d8;

// Anchors
$anchor-color: #0077ff !default;
$anchor-hover-color: #0055b6 !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Container width
$container-max-widths: (
  sm: 560px,
  md: 750px,
  lg: 970px,
  xl: 1140px,
  xxl: 1320px
) !default;

// Gap
$gap: 1rem !default;
$gaps: (
  0: 0,
  1: $gap * .25,
  2: $gap * .5,
  3: $gap,
  4: $gap * 1.5,
  5: $gap * 3,
) !default;

// Fonts and typogrpahy
$font-size-base: 1rem !default;
$font-size-small: .875em !default; // Relative to its parent

$font-sizes-heading: (
  h1: $font-size-base * 2.5,
  h2: $font-size-base * 2,
  h3: $font-size-base * 1.75,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base
) !default;

$font-sizes-marketing: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;